/*This is the main StyleSheet*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    "header header nav"
    "main main side"
    "footer footer footer";
}

.header {
  grid-area: header;
  background-color: burlywood;
  width: 100%;
  padding-left: 20px;
}
.nav {
  grid-area: nav;
  background-color: burlywood;
  display: grid;
}
.nav div {
  display: flex;
  align-self: center;
  justify-self: right;
  text-align: center;
  gap: 15px;
  padding-right: 20px;
}
.nav a {
  font-weight: bold;
  font-size: 24px;
  color: cadetblue;
  text-decoration: none;
  transition-duration: 0.2ss;
}
.nav a:hover {
  color: rgb(64, 102, 104);
  transition-duration: 0.2s;
}
.content {
  grid-area: main;
  padding-left: 15px;
  background-color: #808080;
}
.side {
  grid-area: side;
}
.footer {
  grid-area: footer;
  padding-left: 15px;
}

@media (max-width: 500px) {
  .wrapper {
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto 1fr auto auto;
    grid-template-areas:
      "header"
      "nav"
      "main"
      "aside"
      "footer";
  }
  .nav div {
    display: flex;
    align-self: center;
    justify-self: center;
    text-align: center;
    gap: 15px;
    padding-right: 0;
  }
  .header {
    text-align: center;
    padding-left: 0;
  }
}
